

.alignleft {
	float: left;
   padding-left: 2em;
}
.alignright {
	float: right;
   padding-right: 2em;
}
.alignnormal {
   clear: both;
}

.postquote {
   margin-left: 4em;
   margin-top: 0.1em;
}

.quote-p {
   font-weight: bold;
   margin-bottom: 0;
}

.bottomquote {
   margin-bottom: 0.1em;
}

.bottom-photo {
   max-width: 12em;
	 max-height: 12em;
   width: 30vw;
	 height: 30vw; /* deliberately width */
   border-radius: 0.2em;
	 margin: 1%;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
	 object-fit: cover;
}

.hidden {
   display: none
}


.appear, li {
   position: relative;
   -webkit-animation: appear 0.6s forwards;
   animation: appear 0.6s forwards;
   transition-timing-function: ease;
}

.appearStat {
   position: relative;
   -webkit-animation: appearStat 0.6s forwards;
   animation: appearStat 0.6s forwards;
   transition-timing-function: ease;
}

@keyframes appearStat {
   0% {  opacity: 0}
   100% {  opacity: 1}
}

@-webkit-keyframes appearStat {
   0% { opacity: 0}
   100% {  opacity: 1}
}



.uncollapse {
   /*position: relative;*/
   /*max-height: 9999em;*/
   -webkit-animation: uncollapse 0.7s forwards;
   animation: uncollapse 0.7s forwards;
   transition-timing-function: ease;
   /*overflow-y: hidden;*/
   /*overflow-x: visible;*/
}

@keyframes uncollapse {
   0% {  max-height: 0; overflow-y: hidden;}
   99% { max-height: 99em ;overflow-y: hidden; }
   100% { max-height: 99999em ; overflow-y: unset;}
}

@-webkit-keyframes uncollapse {
   0% {  max-height: 0;  overflow-y: hidden;}
   99% { max-height: 99em ; overflow-y: hidden; }
   100% { max-height: 99999em ; overflow-y: unset;}
}

.collapse {
   /*position: relative;*/
   -webkit-animation: collapse 0.7s forwards;
   animation: collapse 0.7s forwards;
   transition-timing-function: ease;
   overflow-y: hidden;
   overflow-x: visible;
}

@keyframes collapse {
   0% { max-height: 99em }
   100% {  max-height: 0}
}

@-webkit-keyframes collapse {
   0% { max-height: 99em }
   100% {  max-height: 0}
}

.collapsed {
   max-height: 0;
   overflow-y: hidden;
}

.rotateDown {
   position: relative;
   -webkit-animation: rotateDown 0.6s forwards;
   animation: rotateDown 0.6s forwards;
   transition-timing-function: ease;
}

@keyframes rotateDown {
   0% {  transform: rotate(0deg); }
   100% {  transform: rotate(90deg);}
}

@-webkit-keyframes rotateDown {
   0% {  transform: rotate(0deg); }
   100% {  transform: rotate(90deg);}
}


.rotateRight {
   position: relative;
   -webkit-animation: rotateRight 0.6s forwards;
   animation: rotateRight 0.6s forwards;
   transition-timing-function: ease;
}

@keyframes rotateRight {
   0% {  transform: rotate(90deg); }
   100% {  transform: rotate(0deg);}
}

@-webkit-keyframes rotateRight {
   0% {  transform: rotate(90deg); }
   100% {  transform: rotate(0deg);}
}

.groupListWrap {
    -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;
    overflow: hidden;
}

a h2 {
   color: #fff;
}

a:hover {
   text-decoration: none;
}

a:hover h2 {
   text-decoration-color: #fff;
   text-decoration: underline;
}

h2 {
   margin-top: 0.3em;
   margin-bottom: 0.3em;
}

ol {
   /*margin-left: auto;*/
}

li {}

.trans {
   visibility: hidden;
}

#filterMetaButtons {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

#filterMetaButtons > a {
	margin: 10px;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

#filters > div {
  /* background-color: #f1f1f1; */
  margin: 10px;
  /* padding: 20px; */
  /* font-size: 30px; */
}


/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #69b4ff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.filteredList li {
	display: none;
}

.filteredList.show-tax li.tax {
  display: list-item;
}

.filteredList.show-economy li.economy {
  display: list-item;
}

.filteredList.show-corruption li.corruption {
  display: list-item;
}

.filteredList.show-donors li.donors {
  display: list-item;
}

.filteredList.show-privatisation li.privatisation {
  display: list-item;
}

.filteredList.show-climate li.climate {
  display: list-item;
}

.filteredList.show-covid li.covid {
  display: list-item;
}

.filteredList.show-environment li.environment {
  display: list-item;
}

.filteredList.show-refugees li.refugees {
  display: list-item;
}

.filteredList.show-cyber li.cyber {
  display: list-item;
}

.filteredList.show-defamation li.defamation {
  display: list-item;
}

.filteredList.show-ethics li.ethics {
  display: list-item;
}

.filteredList.show-science li.science {
  display: list-item;
}

.filteredList.show-education li.education {
  display: list-item;
}

.filteredList.show-arts li.arts {
  display: list-item;
}

.filteredList.show-safety li.safety {
  display: list-item;
}

.filteredList.show-women li.women {
  display: list-item;
}

.filteredList.show-energysecurity li.energysecurity {
  display: list-item;
}

.filteredList.show-welfare li.welfare {
  display: list-item;
}

.filteredList.show-youth li.youth {
  display: list-item;
}

.filteredList.show-age li.age {
  display: list-item;
}

.filteredList.show-health li.health {
  display: list-item;
}

.filteredList.show-disability li.disability {
  display: list-item;
}

.filteredList.show-terror li.terror {
  display: list-item;
}

.filteredList.show-indigenous li.indigenous {
  display: list-item;
}

.filteredList.show-union li.union {
  display: list-item;
}

.filteredList.show-abc li.abc {
  display: list-item;
}

.filteredList.show-culturewars li.culturewars {
  display: list-item;
}

.filteredList.show-military li.military {
  display: list-item;
}

.filteredList.show-tech li.tech {
  display: list-item;
}

.filteredList.show-international li.international {
  display: list-item;
}
