/* custom page-specific CSS here */

.centered-diagram {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.centered-diagram img {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  padding: 1rem;
  width: 30rem;
  max-width: 100%;
  height: auto;
}