
code {
  font-family: Consolas, Menlo, Monaco, monospace;
  margin: auto;
  width: auto;
  align-self: center;
}

pre {
   background: rgb(34,34,34);
   border-radius: 3px;
   padding: 1rem;
   display: inline-block;
   justify-content: center;
   max-width: 100%;
   float: unset;
   /*left: 50%;
   transform: translateX(50%);*/
   overflow-x: scroll;
}


.topimage {
   /*width: 80%;*/
   /*margin-top: 3rem;*/
   width: 100%;
   height: auto;
}

.topimagecont {
   text-align: center;
}

.subtitle {
   font-size: 100%;
}


blockquote {
    border-left: 5px solid #ccc;
    margin:  1.5rem 1.5rem;
    padding:  0.5rem 0.5rem;
    font-style: italic;
}


@font-face {
   font-family: 'myHeadingFont'; /*a name to be used later*/
   src: url('fonts/BebasNeue-Regular.ttf');
   /*src: url('fonts/koliko-Light.ttf');*/
   /*src: url('fonts/Oswald-Bold.ttf');*/
   /*src: url('fonts/OswaldHeavy-Regular.ttf');*/
   /*src: url('fonts/Oswald-Medium.ttf');*/
   /*src: url('fonts/Oswald-SemiBold.ttf');*/
   /*src: url('fonts/koliko-Bold.ttf');*/
   /*src: url('fonts/koliko-Regular.ttf');*/
   /*src: url('fonts/Oswald-ExtraLight.ttf');*/
   /*src: url('fonts/Oswald-Light.ttf');*/
   /*src: url('fonts/Oswald-Regular.ttf');  '*/
   /*src: url('fonts/SIMPLIFICA Typeface.ttf');*/
}

h1 {
   font-family: 'myHeadingFont', "Source Sans Pro", Helvetica, sans-serif;;
}
