body {
   font-size: 100%;
   overflow-y: hidden;
   overflow-x: hidden;
   text-align: center;
   /*width: 100%;*/
}

html {
   font-size: 50%;
}

@media (min-width:20rem)  {
   html {
      font-size: 66%;
   }
}

@media (min-width:30rem)  {
   html {
      font-size: 100%;
   }
}

@media (min-width:45rem)  {
   html {
      font-size: 150%;
   }
}

@media (min-width:60rem)  {
   html {
      font-size: 160%;
   }
}



.wrap1 .wrap2 .wrap3 .wrap4 h1 {
   font-size: 3rem;
   font-family: "Source Sans Pro", Helvetica, sans-serif;
   text-transform: uppercase;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}


h2 {
   font-size: 2.5rem;
   text-transform: uppercase;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}

p {
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   font-size: 1.2rem;
}

.wrap1 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  overflow-y: auto;
  width:100%;
}
.wrap2 {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.wrap3 {
  vertical-align: middle;
  display: table-cell;
}
.wrap4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.slid-out {
   /*transform: translateX(100%);*/
   visibility: hidden;
   /*display: none;*/
}

.slide-in-right {
   -webkit-animation: slide-in-right 0.5s forwards;
   animation: slide-in-right 0.5s forwards;
}


@keyframes slide-in-right {
   0% { transform: translateX(-100vw);overflow-y: hidden;}
   99% { transform: translateX(0vw); overflow-y: hidden;}
   100% { transform: translateX(0vw);}
}

@-webkit-keyframes slide-in-right {
   0% { transform: translateX(-100vw);overflow-y: hidden;}
   99% { transform: translateX(0vw); overflow-y: hidden;}
   100% { transform: translateX(0vw);}
}


.slide-out-right {
   /*visibility: hidden;*/
   -webkit-animation: slide-out-right 0.5s forwards;
   animation: slide-out-right 0.5s forwards;
   overflow-y: hidden;
}

@keyframes slide-out-right {
   0% { transform: translateX(0vw);}
   100% { transform: translateX(100vw);}
}

@-webkit-keyframes slide-out-right {
   0% { transform: translateX(0vw);}
   100% { transform: translateX(100vw);}
}


.slide-in-left {
   -webkit-animation: slide-in-left 0.5s forwards;
   animation: slide-in-left 0.5s forwards;
}

@-webkit-keyframes slide-in-left {
   0% { transform: translateX(100vw);}
   100% { transform: translateX(0vw);}
}


@keyframes slide-in-left {
   0% { transform: translateX(100vw);}
   100% { transform: translateX(0vw);}
}


.slide-out-left {
   /*visibility: hidden;*/
   -webkit-animation: slide-out-left 0.5s forwards;
   animation: slide-out-left 0.5s forwards;
   overflow-y: hidden;
}



@keyframes slide-out-left {
   0% { transform: translateX(0vw);}
   100% { transform: translateX(-100vw);}
}

@-webkit-keyframes slide-out-left {
   0% { transform: translateX(0vw);}
   100% { transform: translateX(-100vw);}
}


.slide-in-up {
   -webkit-animation: slide-in-up 0.5s forwards;
   animation: slide-in-up 0.5s forwards;
}



@keyframes slide-in-up {
   0% { transform: translateY(-100vh);}
   100% { transform: translateY(0vh);}
}

@-webkit-keyframes slide-in-up {
   0% { transform: translateY(-100vh);}
   100% { transform: translateY(0vh);}
}

.slide-out-up {
   -webkit-animation: slide-out-up 0.5s forwards;
   animation: slide-out-up 0.5s forwards;
   overflow-y: hidden;
}

@keyframes slide-out-up {
   0% { transform: translateY(0vh);}
   100% { transform: translateY(100vh);}
}

@-webkit-keyframes slide-out-up {
   0% { transform: translateY(0vh);}
   100% { transform: translateY(100vh);}
}


.slide-in-down {
   -webkit-animation: slide-in-down 0.5s forwards;
   animation: slide-in-down 0.5s forwards;
}



@keyframes slide-in-down {
   0% { transform: translateY(100vh);}
   99% { transform: translateY(0vh);}
   100% { transform: translateY(0vh);}
}

@-webkit-keyframes slide-in-down {
   0% { transform: translateY(100vh);}
   99% { transform: translateY(0vh);}
   100% { transform: translateY(0vh);}
}

.slide-out-down {
   /*visibility: hidden;*/
   -webkit-animation: slide-out-down 0.5s forwards;
   animation: slide-out-down 0.5s forwards;
   overflow-y: hidden;
}

@keyframes slide-out-down {
   0% { transform: translateY(0vh);}
   100% { transform: translateY(-100vh);}
}

@-webkit-keyframes slide-out-down {
   0% { transform: translateY(0vh);}
   100% { transform: translateY(-100vh);}
}

.wrap1 .wrap2 .wrap3 .wrap4 .buttonBig {
   font-size: 130%;
   display: inline-block;
   box-decoration-break: clone;
}

.footer-button {
   bottom: 1.5em;
   display: block;
   position: absolute;
   padding-left: 1em;
   padding-right: 1em;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   font-size: 80%;
}

#back-button {
   left: 1.5em;
}

#find-more {
   right: 1.5em;
}

@media (min-width:30em)  {
   .left-arrow:after {
   	border-top: 0.75rem solid transparent;
   	border-right: 0.75rem solid #E6E6E6;
   	border-bottom: 0.75rem solid transparent;
   }
}

.hidden {
   opacity: 0;
}


.slide-in-button {
   -webkit-animation: slide-in-button 0.5s forwards;
   animation: slide-in-button 0.5s forwards;
}

@keyframes slide-in-button {
   0% { transform: translateX(-200%); }
   100% { transform: translateX(0%); }
}


.slide-out-button {
   -webkit-animation: slide-out-button 0.5s forwards;
   animation: slide-out-button 0.5s forwards;
}

@keyframes slide-out-button {
   0% { transform: translateX(0%); }
   100% { transform: translateX(-200%); }
}


.slide-in-find-more {
   -webkit-animation: slide-in-find-more 0.5s forwards;
   animation: slide-in-find-more 0.5s forwards;
}

@keyframes slide-in-find-more {
   0% { transform: translateY(100vh); }
   100% { transform: translateY(0%); }
}


.slide-out-find-more {
   -webkit-animation: slide-out-find-more 0.5s forwards;
   animation: slide-out-find-more 0.5s forwards;
}

@keyframes slide-out-find-more {
   0% { transform: translateY(0%); }
   100% { transform: translateY(100vh); }
}


::-webkit-scrollbar {
   display: none;
}

.leaf-slide {
   padding-bottom: 2em;
}
