
code {
  font-family: Consolas, Menlo, Monaco, monospace;
  margin: auto;
  width: auto;
  align-self: center;
}

pre {
   background: rgb(34,34,34);
   border-radius: 3px;
   padding: 1rem;
   display: inline-block;
   justify-content: center;
   max-width: 100%;
   float: unset;
   /*left: 50%;
   transform: translateX(50%);*/
   overflow-x: scroll;
}


.topimage {
   /*width: 80%;*/
   /*margin-top: 3rem;*/
   width: 100%;
   height: auto;
}

.topimagecont {
   text-align: center;
}

.subtitle {
   font-size: 100%;
}

.disclaimer {
   font-size: 70%;
   font-style: italic;
   text-align: center;
}

blockquote {
    border-left: 5px solid #ccc;
    margin:  1.5rem 1.5rem;
    padding:  0.5rem 0.5rem;
    font-style: italic;
}

.photoauthor {
   font-size: 70%;
   text-align: center;
}
