body {
   font-family: Arial, sans-serif;
   margin: 20px;
}

label {
   display: block;
   margin-top: 10px;
}

.badInput {
   border-color: red;
}

.inline-image {
   height: 2em; /* Adjust the height as needed */
   vertical-align: middle;
   margin-right: 0.2em; /* Optional: Adjust the spacing between image and text */
   background-color: black;
   border-radius: 0.3em;
}

textarea {
   width: 90%;
}

.warning {
   color: red;
}