
.cardContainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex;
   align-content: center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20rem;
  margin: 2rem;
  background: rgb(60,60,60);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  background-color: #404040;
  text-decoration: none;
  /*background: rgb(49,49,49);*/
}

article a  {
   text-decoration: none;
   color: #ffffff;
}
/*article a:hover  {
   text-decoration: none;
}*/

article:hover  {
   text-decoration: none;
}

/* Add some padding inside the card container */
.cardBottom {
   padding: 2px 16px;
}

.cardTitle {
   font-weight: bold;
   text-transform: capitalize;
   font-size: 100%;
}

.cardImage{
   width: 100%;
}

.cardDesc {
   font-size: 80%;
}

.profileLinks {
   text-align: center;
   font-size: 80%;
}

.center {
   text-align: center;
}

.logo {
   height: 0.8em;
   width: auto;
   vertical-align: baseline;
}
