
.cardContainer {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex;
   align-content: center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 25rem;
  margin: 2rem;
  background: rgb(63,67,74);
  border-radius: 0.2em
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  background-color: rgb(55,60,65);
  text-decoration: none;
  /*background: rgb(49,49,49);*/
}

a:hover .card {
   text-decoration: none;
}

article a  {
   text-decoration: none;
   color: #ffffff;
}

article a:hover  {
   text-decoration: none;
}

/* Add some padding inside the card container */
.cardBottom {
   padding: 2px 16px;
}

.cardTitle {
   font-weight: bold;
   text-transform: capitalize;
   font-size: 100%;
}

.cardImage {
   width: 100%;
   height: auto;
   border-radius: 0.2em 0.2em 0 0
}

a:hover .cardColor {
   opacity: 0.85;
}

.cardDesc {
   font-size: 80%;
}

.profileLinks {
   text-align: center;
   font-size: 80%;
}

.center {
   text-align: center;
}

.homeTitle {
   font-size: 400%;
}
